* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    color:black;
}

.container {
    background: whitesmoke;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0,0,0,0.1);
    overflow: hidden;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

main {
    padding: 22px;
}

h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

p {
    margin-bottom: 18px;
    font-size: 20px; 
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 10px;
}

.input-group, .input-full {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: black;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    font-size: 16px;
    border-radius: 6px;
}

input:focus, select:focus {
    outline: none;
    border-color: darkblue;
    box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2);
}

.date-select {
    display: flex;
    gap: 6px;
}

.date-select select {
    flex: 1;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 8px;
}

.radio-group label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 0;
}

.radio-group input {
    margin-right: 10px;
}

.terms label {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.terms a{
    color: blue;
    text-decoration: none;
}

.terms a:hover{
    text-decoration: underline;
}

.buttons {
    gap: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: aqua;
    color: grey;
    position: relative;
    right: auto;
}

button[type="submit"]:hover {
    background-color: aquamarine;
}

button[type="reset"] {
    background-color: grey;
    color: black;
    position: relative;
    left: 350px;
}

button[type="reset"]:hover{
    background-color: blue;
}

footer{
    padding: 10px;
    margin: -22px;
    background-color: blue;
}
    